<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{ title }}!
  </h1>
  <h1>
    {{a + b }}
  </h1>  
  <button [disabled]="!listo" (click)= "hacerAlgo()" >Aceptar Datos</button>
  <hr/>
  <input type="text" placeholder="Tu Nombre"  [(ngModel)]="nombre" />
  <br/>
  Mi nombre es {{ nombre }}

  <ul>
     <ng-container *ngFor="let lugar of lugares">
       <li *ngIf="lugar.active">{{lugar.nombres}}</li>
     </ng-container>
  </ul>
  
</div>


