<div class="container col-7">
    <h1>Crear Estudiante</h1>
  <div class="form-group">
    <label>Codigo Estudiante</label>
    <input type="text" class="form-control" [(ngModel)]="estudiante.codigo"  >
  </div>
  <div class="form-group">
    <label>Nombre Estudiante</label>
    <input type="text" class="form-control" [(ngModel)]="estudiante.nombre" >
  </div>
  <div class="form-group">
    <label>Pais del Estudiante</label>
    <input type="text" class="form-control" [(ngModel)]="estudiante.pais" >
  </div>
  <div class="row">
    <div class="col-sm-2">
    <a class="btn btn-primary" (click)="guardarlugar()" >Enviar</a> 
    <button  mat-raised-button color="primary">Basic</button>
    </div>
    <div class="col-1">
    <a class="btn btn-primary" routerLink="/obtenerestudiante">Cancelar</a>

  </div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>
  </div>
</div>